body {
    margin: 0;
    min-width: 250px;
  }

* {
    box-sizing: border-box;
  }

#main {
    width: 600px;
    height: auto;
    margin: 100px auto;
    border: 2px solid #cccccc;
    padding: 50px;
    background-color: #cccccc;
    border-radius: 5px;
    color: #333333;
}

h1 {
    margin-bottom: 50px;
}

p {
    margin-bottom: 30px;
}